[discord]
  token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # Token bot
  status = "OM2JO | $help"
  prefix = "$"
  secret = "secret"
#  shardCount = 3
#  shardID = 0

[greeting]
join = "おあ"
leave = "おつぅ"
nobody = "すやぁ"

[errorMsg]
novc = "まずVCにはいろ( ˘ω˘ )"
onlyBot = "声変えられるのはBotだけ( ˘ω˘ )"

